// xiao_flex_v2_left.overlay

#include "xiao_flex_v2.dtsi" 

&kscan0 {
    col-gpios
        = <&gpio1 0 GPIO_ACTIVE_HIGH> 
        , <&gpio1 15 GPIO_ACTIVE_HIGH> 
        , <&gpio1 14 GPIO_ACTIVE_HIGH> 
        , <&gpio1 13 GPIO_ACTIVE_HIGH> 
        , <&gpio1 12 GPIO_ACTIVE_HIGH> 
        , <&gpio0 9 GPIO_ACTIVE_HIGH>
        ;
};
