if SHIELD_PROMICRO_RIGHT

config ZMK_KEYBOARD_NAME
    default "skree_customs"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_PROMICRO_LEFT || SHIELD_PROMICRO_RIGHT

config ZMK_SPLIT
    default y

endif