/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/modifiers.h>
#include <dt-bindings/zmk/keys.h>


// layers
#define BASE 0
#define NUM  1
#define NAV 2
#define FUN 3
#define SYM 4
#define MEDIA 5

/{
    keymap {
        compatible = "zmk,keymap";

        BASE {
            bindings = <
&kp LC(W)         &kp Q         &kp W             &kp E          &kp R          &kp T        &kp Y        &kp U          &kp I          &kp O              &kp P                 &kp LG(L)
&kp LC(LG(LEFT))  &bRhm LWIN A  &bRhm LEFT_ALT S  &bRhm LCTRL D  &bRhm LSHFT F  &kp G        &kp H        &bLhm RSHFT J  &bLhm RCTRL K  &bLhm RIGHT_ALT L  &bLhm LWIN SEMICOLON  &kp RC(LG(RIGHT_ARROW))
&none             &kp Z         &kp X             &kp C          &kp V          &kp B        &kp N        &kp M          &kp COMMA      &kp PERIOD         &kp SLASH             &none
                                &kp HOME          &kp PAGE_DOWN  &lt 5 DEL      &lt 4 SPACE  &lt 3 DEL    &kp END        &kp PAGE_UP
                                                                 &kp ESCAPE     &lt 1 TAB    &lt 2 ENTER
                                                                 &mkp RCLK      &mkp LCLK    &mkp MCLK
            >;

            sensor-bindings = <&inc_dec_kp K_SCROLL_UP K_SCROLL_DOWN>;
            display-name = "BASE";
        };

        NUM {
            bindings = <
&none   &none         &none         &none      &none      &none   &kp SLASH              &kp N7        &kp N8        &kp N9        &kp MINUS  &none
&none   &kp LEFT_WIN  &kp LEFT_ALT  &kp LCTRL  &kp LSHFT  &none   &kp LEFT_PARENTHESIS   &kp NUMBER_4  &kp N5        &kp NUMBER_6  &kp PLUS   &none
&trans  &none         &none         &none      &none      &none   &kp RIGHT_PARENTHESIS  &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &trans     &trans
                      &trans        &trans     &trans     &trans  &trans                 &kp DOT       &kp N0
                                               &trans     &trans  &trans
                                               &trans     &trans  &trans
            >;

            sensor-bindings = <&inc_dec_kp K_SCROLL_UP K_SCROLL_DOWN>;
            display-name = "NUM";
        };

        NAV {
            bindings = <
&none   &none     &none     &none      &none      &none   &kp K_REDO  &kp K_PASTE  &kp K_COPY  &kp K_CUT  &kp K_UNDO  &none
&none   &kp LGUI  &kp LALT  &kp LCTRL  &kp LSHFT  &none   &kp CAPS    &kp LEFT     &kp DOWN    &kp UP     &kp RIGHT   &none
&trans  &none     &none     &none      &none      &none   &kp INSERT  &none        &none       &none      &none       &trans
                  &trans    &trans     &trans     &trans  &trans      &trans       &trans
                                       &trans     &trans  &trans
                                       &trans     &trans  &trans
            >;

            sensor-bindings = <&inc_dec_kp K_SCROLL_UP K_SCROLL_DOWN>;
            display-name = "NAV";
        };

        FUN {
            bindings = <
&none  &kp F12  &kp F7  &kp F8  &kp F9  &kp PRINTSCREEN  &none   &none      &none      &none          &none     &none
&none  &kp F11  &kp F4  &kp F3  &kp F2  &kp SCROLLLOCK   &none   &kp RSHFT  &kp RCTRL  &kp RIGHT_ALT  &kp RWIN  &none
&none  &kp F10  &kp F6  &kp F5  &kp F1  &kp PAUSE_BREAK  &none   &none      &none      &none          &none     &none
                &none   &none   &trans  &trans           &trans  &none      &none
                                &trans  &trans           &trans
                                &trans  &trans           &trans
            >;

            sensor-bindings = <&inc_dec_kp K_SCROLL_UP K_SCROLL_DOWN>;
            display-name = "FUN";
        };

        SYM {
            bindings = <
&kp TILDE          &kp LBRC   &kp AMPS    &kp STAR     &kp LPAR   &kp RBRC  &trans  &trans     &trans     &trans    &trans    &none
&kp LEFT_BRACKET   &kp COLON  &kp DOLLAR  &kp PERCENT  &kp CARET  &kp PLUS  &trans  &kp RSHFT  &kp RCTRL  &kp RALT  &kp LGUI  &none
&kp RIGHT_BRACKET  &kp MINUS  &kp EXCL    &kp AT       &kp HASH   &kp PIPE  &trans  &trans     &trans     &trans    &trans    &none
                              &kp UNDER   &kp RPAR     &trans     &trans    &trans  &trans     &trans
                                                       &trans     &trans    &trans
                                                       &trans     &trans    &trans
            >;

            sensor-bindings = <&inc_dec_kp K_SCROLL_UP K_SCROLL_DOWN>;
            label = "SYM";
        };

        MEDIA {
            bindings = <
&none  &none     &none         &none      &none       &none             &none              &none           &none         &none            &none         &bootloader
&none  &kp LWIN  &kp LEFT_ALT  &kp LCTRL  &kp LSHFT   &none             &ext_power EP_TOG  &kp K_PREVIOUS  &kp C_VOL_DN  &kp C_VOLUME_UP  &kp K_NEXT    &none
&none  &none     &none         &none      &none       &none             &out OUT_TOG       &bt BT_SEL 0    &bt BT_SEL 1  &bt BT_SEL 2     &bt BT_SEL 3  &none
                 &none         &none      &trans      &trans            &trans             &none           &none
                                          &kp K_STOP  &kp K_PLAY_PAUSE  &kp K_MUTE
                                          &trans      &trans            &trans
            >;

            sensor-bindings = <&inc_dec_kp K_SCROLL_UP K_SCROLL_DOWN>;
            label = "MEDIA";
        };
    };
};