/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <dt-bindings/led/led.h>
#include <dt-bindings/zmk/mouse.h>
#include <behaviors/mouse_keys.dtsi>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
&kp ESC    &kp Q  &kp W  &kp E      &kp R      &kp T       &kp Y    &kp U      &kp I      &kp O    &kp P     &kp BSLH
&kp TAB    &kp A  &kp S  &kp D      &kp F      &kp G       &kp H    &kp J      &kp K      &kp L    &kp SEMI  &kp SQT
&kp LSHFT  &kp Z  &kp X  &kp C      &kp V      &kp B       &kp N    &kp M      &kp COMMA  &kp DOT  &kp FSLH  &kp LSHFT
                         &kp LSHFT  &kp SPACE  &kp BSPC    &kp DEL  &kp RET    &kp RGUI
                                                           &mo 2    &kp RCTRL
            >;
        };

        layer_1 {
            bindings = <
&bt BT_CLR  &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4    &mkp LCLK         &mkp RCLK  &kp N7     &kp N8  &kp N9  &kp BSPC
&kp F1      &kp F2        &kp F3        &kp F4        &kp F5        &kp F6          &trans            &kp FSLH   &kp N4     &kp N5  &kp N6  &kp MINUS
&kp F7      &kp F8        &kp F9        &kp F10       &kp F11       &kp F12         &trans            &kp TAB    &kp N1     &kp N2  &kp N3  &kp PLUS
                                        &bootloader   &trans        &trans          &kp N0            &kp DOT    &kp ENTER
                                                                    &trans            &trans
            >;
        };

        layer_2 {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans    &trans       &trans     &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans    &kp UP       &trans     &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &kp LEFT  &kp DOWN     &kp RIGHT  &trans  &trans
                        &trans  &trans  &trans    &trans  &trans    &bootloader
                                                  &trans  &trans
            >;
        };
    };
};
